.banner-img-credit {
    width: 450px;
    position: relative;
    top: 30px;
    bottom: px;
}

.banner-img-credit-mb {
    width: 253px;
    position: absolute;
    top: 15;
    margin-bottom: 20px;
    z-index: -1;
}

.ready-for-liftoff-credit {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    }
    
    .ready-for-liftoff-credit .ready-wrapper {
    background: var(--white);
    color: var(--primary-text);
    box-shadow: rgb(133 127 120 / 64%) 0px 8px 24px;;
    padding: calc(var(--spacing-increment) * 2);
    border-radius: var(--corner-radius-large);
    margin-left: 20px;
    margin-right: 20px;
    outline-color: var(--gray-primary-900);
    }
    
    .ready-for-liftoff-credit .for-mg {
    height: 117px;
    }
    
    .ready-for-liftoff-credit .banner-img-mb {
    width: 50px;
    position: absolute;
    top: 10;
    margin-bottom: 120px;
    z-index: -1;
    }
    
    .ready-for-liftoff-credit .ready-wrapper h4 {
    font: var(--title-3);
    text-align: center;
    margin: 0;
    }
    
    .ready-for-liftoff-credit .ready-wrapper p {
    font: var(--footnote-medium);
    text-align: center;
    margin: 0;
    }
    
    .ready-for-liftoff-credit .ready-wrapper h5 {
    font: var(--headline);
    text-align: center;
    color: var(--dark-blue);
    margin: 0;
    }

    @media (max-width: 1200px) {
        .hero {
            height: unset;
        }
    
        .banner-img-credit,
        .main .content h2,
        .main .content h6 {
            display: none;
        }
    }

    .arrow_link_arrow-link__a1DSU {
        color: #000;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none
    }
    
    .arrow_link_arrow-link__a1DSU .arrow_link_arrow__EtWbT {
        margin-bottom: -2px;
        margin-left: 12px;
        font-size: 20px;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s,-webkit-transform .2s
    }
    
    .arrow_link_arrow-link__a1DSU:hover .arrow_link_arrow__EtWbT {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }
    
    .captioned_image_captioned-image__LdiGn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_caption__K79YM,.captioned_image_captioned-image__LdiGn .captioned_image_image-container__e9IUC {
        -webkit-transition-duration: .8s;
        transition-duration: .8s
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_image-container__e9IUC {
        -ms-flex: 1 1;
        flex: 1 1
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_image-container__e9IUC>:first-child {
        display: block!important
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_spacer__U9b24 {
        -ms-flex: .2 1;
        flex: .2 1
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_caption__K79YM {
        -ms-flex: .8 1;
        flex: .8 1
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_caption__K79YM>header {
        margin: 8px 0 29px;
        font-size: 32px;
        font-weight: 500;
        line-height: 36px
    }
    
    .captioned_image_captioned-image__LdiGn .captioned_image_caption__K79YM .captioned_image_body___WjLe {
        color: #4e4e4e;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        white-space: pre-wrap
    }
    
    .captioned_image_captioned-image__LdiGn.captioned_image_right__bhWy6 {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    
    .captioned_image_captioned-image__LdiGn.captioned_image_show__ZrW2u .captioned_image_caption__K79YM {
        -webkit-transition-delay: .4s;
        transition-delay: .4s
    }
    
    .captioned_image_captioned-image__LdiGn:not(.captioned_image_show__ZrW2u).captioned_image_left__ERwL4 .captioned_image_image-container__e9IUC,.captioned_image_captioned-image__LdiGn:not(.captioned_image_show__ZrW2u).captioned_image_right__bhWy6 .captioned_image_caption__K79YM {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    
    .captioned_image_captioned-image__LdiGn:not(.captioned_image_show__ZrW2u).captioned_image_left__ERwL4 .captioned_image_caption__K79YM,.captioned_image_captioned-image__LdiGn:not(.captioned_image_show__ZrW2u).captioned_image_right__bhWy6 .captioned_image_image-container__e9IUC {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    
    @media only screen and (max-width: 700px) {
        .captioned_image_captioned-image__LdiGn {
            display:block
        }
    
        .captioned_image_captioned-image__LdiGn .captioned_image_image-container__e9IUC>div,.captioned_image_captioned-image__LdiGn .captioned_image_image-container__e9IUC img {
            width: 100%
        }
    
        .captioned_image_captioned-image__LdiGn .captioned_image_caption__K79YM {
            margin-top: 64px
        }
    }
    
    .page_align_page-align__BBPm1 {
        padding: 0 32px
    }
    
    .page_align_page-align__BBPm1>.page_align_content__RoeO0 {
        max-width: 1200px;
        margin: 0 auto
    }
    
    .KButton_k-button__5qo8z {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: var(--local-base-padding) calc(var(--local-base-padding)*var(--local-padding-multiplier));
        border: none;
        background: none;
        border-radius: 48px;
        font: inherit;
        font-weight: 500!important;
        letter-spacing: .01em!important;
        line-height: 24px!important;
        -webkit-transition: opacity .3s,background-color .3s,outline .3s,color .3s;
        transition: opacity .3s,background-color .3s,outline .3s,color .3s;
        --local-padding-multiplier: 2
    }
    
    .KButton_k-button__5qo8z.KButton_variant_accent__C7wFK {
        background: var(--accent)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_primary__Ib2Ix {
        background: var(--primary);
        color: var(--on-primary)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_black__hUeWO {
        background: var(--inverse);
        color: var(--strong-on-inverse)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_container__fecUl {
        background: var(--container);
        color: var(--strong)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_text-only__r6vs0 {
        color: var(--strong)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_grey__c1lap {
        background: var(--dugout);
        color: var(--strong-on-dugout)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_primary-outline__SvpUH {
        background: var(--container);
        color: var(--strong);
        outline: 2px solid var(--primary)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_black-outline__vrFiz {
        background: var(--container);
        color: var(--strong);
        outline: 2px solid var(--strong)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_grey-outline__NZ2Rm {
        background: var(--container);
        color: var(--strong);
        outline: 2px solid var(--weak)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_text-primary__kNuU5 {
        color: var(--primary)
    }
    
    .KButton_k-button__5qo8z.KButton_variant_text-underline__w5YoT {
        color: var(--strong);
        text-decoration: underline
    }
    
    .KButton_k-button__5qo8z.KButton_variant_text-discouraged__04Dfo {
        color: var(--error)
    }
    
    .KButton_k-button__5qo8z.KButton_size_hug__CGBrR {
        padding: 0
    }
    
    .KButton_k-button__5qo8z.KButton_size_small__reb52 {
        --local-base-padding: 6px
    }
    
    .KButton_k-button__5qo8z.KButton_size_full-width__n3Am6,.KButton_k-button__5qo8z.KButton_size_standard__BAcuv {
        --local-base-padding: 12px
    }
    
    .KButton_k-button__5qo8z.KButton_size_full-width__n3Am6 {
        width: 100%
    }
    
    .KButton_k-button__5qo8z.KButton_wide__PLafw {
        --local-padding-multiplier: 4
    }
    
    .KButton_k-button__5qo8z.KButton_state_active__1Syep {
        cursor: pointer;
        opacity: 1
    }
    
    .KButton_k-button__5qo8z.KButton_state_disabled__ZlWts {
        cursor: default;
        opacity: .5
    }
    
    .underline_text_input_underline-text-input__sUyNS {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-bottom: 1px solid var(--moderate-weak)
    }
    
    .underline_text_input_underline-text-input__sUyNS input {
        width: 100%;
        padding: 1.2em 0 .6em;
        border: none;
        background: none;
        font-size: 15px;
        line-height: 1;
        outline: none
    }
    
    .underline_text_input_underline-text-input__sUyNS label {
        position: absolute;
        top: 1em;
        left: 0;
        color: var(--moderate-weak);
        pointer-events: none;
        -webkit-transition: color .2s,font-size .2s,top .2s;
        transition: color .2s,font-size .2s,top .2s
    }
    
    .underline_text_input_underline-text-input__sUyNS.underline_text_input_open__czdON label {
        top: 0;
        font-size: .8em
    }
    
    .underline_text_input_underline-text-input__sUyNS.underline_text_input_focused__v0eTh label {
        color: var(--primary)
    }
    
    .underline_text_input_underline-text-input__sUyNS.underline_text_input_focused__v0eTh:before {
        left: 0;
        width: 100%;
        opacity: 1
    }
    
    .underline_text_input_underline-text-input__sUyNS:before {
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: 2px;
        background: var(--primary);
        content: "";
        opacity: 0;
        -webkit-transition: left .2s,width .2s,opacity .2s;
        transition: left .2s,width .2s,opacity .2s
    }
    
    .styles_main-cta__G47ZR {
        display: -ms-flexbox;
        display: flex;
        max-width: 550px;
        min-height: -webkit-fit-content;
        min-height: -moz-fit-content;
        min-height: fit-content;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0
    }
    
    .styles_main-cta__G47ZR .styles_signup__ryFGz {
        margin: 0 16px 16px
    }
    
    @media(min-width: 960px) {
        .styles_main-cta__G47ZR {
            max-width:350px
        }
    }
    
    .styles_main-cta__G47ZR .styles_button-subtext__seAq3 {
        width: 100%;
        max-width: 500px;
        margin: 16px 0;
        font-size: 14px;
        text-align: center
    }
    
    @media(min-width: 960px) {
        .styles_main-cta__G47ZR .styles_button-subtext__seAq3 {
            text-align:left
        }
    }
    
    .styles_new-input__5hiEb {
        display: none;
        min-width: 200px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex: 2 1;
        flex: 2 1;
        border: 1px solid var(--black-400);
        margin: 0 0 16px;
        border-radius: 4px
    }
    
    @media(min-width: 960px) {
        .styles_new-input__5hiEb {
            display:inline-block
        }
    }
    
    .styles_new-input__5hiEb input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 16px
    }
    
    .styles_new-input__5hiEb label {
        left: 16px
    }
    
    .styles_get-started-button__gUSoq {
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    
    .styles_button-wrapper__3qU2Y {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    
    @media(min-width: 960px) {
        .styles_button-wrapper__3qU2Y {
            max-width:350px
        }
    }
    
    .styles_pricing-container__lHMvb {
        background: var(--off-white)
    }
    
    .styles_pricing__ZS0Ai {
        padding: 120px 0
    }
    
    .styles_pricing__ZS0Ai>header {
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 500;
        text-align: center
    }
    
    .styles_pricing__ZS0Ai .styles_mobile__G9PP1 {
        display: none
    }
    
    @media only screen and (max-width: 900px) {
        .styles_pricing__ZS0Ai .styles_desktop__2YDUk {
            display:none
        }
    
        .styles_pricing__ZS0Ai .styles_mobile__G9PP1 {
            display: inline;
            display: initial
        }
    }
    
    .styles_desktop__2YDUk {
        width: 100%;
        border-collapse: collapse;
        color: var(--near-black);
        text-align: center
    }
    
    .styles_desktop__2YDUk td:first-child {
        text-align: left
    }
    
    .styles_desktop__2YDUk td,.styles_desktop__2YDUk th {
        padding: 32px 0
    }
    
    .styles_desktop__2YDUk th {
        font-size: 18px;
        font-weight: 500
    }
    
    .styles_desktop__2YDUk td:first-child+td,.styles_desktop__2YDUk th:first-child+th {
        background: var(--primary-weak)
    }
    
    .styles_desktop__2YDUk tbody tr {
        border-top: 1px solid var(--moderate-weak)
    }
    
    .styles_mobile__G9PP1 {
        color: var(--near-black)
    }
    
    .styles_mobile__G9PP1>header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 32px
    }
    
    .styles_mobile__G9PP1>header .styles_titles__xgjJd {
        position: relative;
        overflow: hidden;
        height: 1em;
        -ms-flex: 1 1;
        flex: 1 1;
        font-size: 18px;
        pointer-events: none;
        text-align: center
    }
    
    .styles_mobile__G9PP1>header .styles_titles__xgjJd .styles_title__oJRhn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        -webkit-transition: left .3s;
        transition: left .3s
    }
    
    .styles_mobile__G9PP1>header .styles_icon___zcO5 {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0 16px;
        font-size: 24px
    }
    
    .styles_mobile__G9PP1 .styles_tables-container___jf2q {
        overflow: hidden
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 {
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: margin .3s;
        transition: margin .3s
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table tr:first-child {
        background: var(--primary-weak)
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table tr+tr {
        border-top: 1px solid var(--moderate-weak)
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table td>div,.styles_mobile__G9PP1 .styles_tables__mgZH1 table th>div {
        display: -ms-flexbox;
        display: flex;
        min-height: 120px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px;
        line-height: 1.5
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table th {
        text-align: left
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table td {
        -ms-flex-pack: center;
        justify-content: center;
        border-left: 1px solid var(--moderate-weak)
    }
    
    .styles_mobile__G9PP1 .styles_tables__mgZH1 table td>div {
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    
    .Collapsible_collapsible__vEP2G {
        overflow: hidden;
        padding: 1px;
        margin: -1px;
        -webkit-transition: height .3s;
        transition: height .3s
    }
    
    .Collapsible_collapsible__vEP2G .Collapsible_wrapper__VpR_d {
        overflow: hidden;
        padding: 1px;
        margin: -1px;
        -webkit-transition: opacity .3s;
        transition: opacity .3s
    }
    
    .plus_expander_plus-expander__hhLz7 {
        position: relative
    }
    
    .plus_expander_plus-expander__hhLz7 div {
        position: absolute;
        background: currentColor
    }
    
    .plus_expander_plus-expander__hhLz7 div:last-of-type {
        -webkit-transition: height .3s,top .3s;
        transition: height .3s,top .3s
    }
    
    .styles_questions-section__6xVnh {
        --bg-color: var(--white);
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        background-color: var(--bg-color);
        justify-self: center
    }
    
    .styles_questions__Lrryl {
        max-width: 960px;
        padding: 100px 0;
        margin: 0 auto
    }
    
    .styles_questions__Lrryl>header {
        margin-bottom: 80px;
        font-size: 32px;
        font-weight: 500;
        text-align: center
    }
    
    @media(min-width: 600px) {
        .styles_questions__Lrryl>header {
            margin-left:24px;
            text-align: left
        }
    }
    
    .styles_questions__Lrryl>ul {
        padding: 0;
        list-style-type: none
    }
    
    .styles_questions__Lrryl>ul>li {
        background: var(--white)
    }
    
    .styles_questions__Lrryl>ul>li .styles_question__76LHk {
        display: -ms-flexbox;
        display: flex;
        height: 80px;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 24px
    }
    
    .styles_questions__Lrryl>ul>li .styles_question__76LHk>:first-child {
        -ms-flex: 1 1;
        flex: 1 1;
        margin-right: 16px
    }
    
    .styles_questions__Lrryl>ul>li .styles_answer__t3Wzl {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 24px 24px;
        line-height: 1.7
    }
    
    .styles_questions__Lrryl>ul>li:nth-child(odd) {
        background: var(--off-white)
    }
    
    .styles_questions__Lrryl .styles_expand__S6Jjg {
        margin-top: 48px;
        text-align: center;
        text-decoration: underline
    }
    
    .styles_button-wrapper__8AHLu {
        display: -ms-flexbox;
        display: flex;
        width: 20%;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 80px;
        margin: auto
    }
    
    .Logo_logo__2Yvhl {
        position: relative;
        width: 3em;
        -webkit-transition: height .3s;
        transition: height .3s
    }
    
    .styles_l10n-toggle___ltgB {
        display: inline-block
    }
    
    .styles_locale-toggle-button__PSafu {
        display: inline;
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--white);
        text-transform: capitalize
    }
    
    .styles_locale-toggle-button__PSafu+.styles_locale-toggle-button__PSafu {
        margin-left: 8px
    }
    
    .styles_locale-toggle-button__PSafu.styles_light__KHijQ {
        color: var(--black)
    }
    
    .styles_locale-toggle-button__PSafu.styles_manage-account__tCp9O {
        color: var(--primary)
    }
    
    .styles_locale-toggle-button__PSafu.styles_current-locale__TTU2B {
        font-weight: 700;
        text-decoration: underline
    }
    
    .styles_l10n-toggle-title__I0a5T {
        margin-right: 8px
    }
    
    .styles_l10n-button-wrapper__eCTN_ {
        display: inline-block;
        white-space: nowrap
    }
    
    .styles_landing-footer__JF3pX {
        --bg-color: var(--black-50);
        --txt-color: var(--black);
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 32px 24px 100px;
        background: var(--bg-color);
        color: var(--txt-color)
    }
    
    @media(min-width: 960px) {
        .styles_landing-footer__JF3pX {
            padding:64px 24px 100px
        }
    }
    
    .styles_main-contents-row__kJLH3 {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 1024px;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto
    }
    
    @media(min-width: 960px) {
        .styles_main-contents-row__kJLH3 {
            -ms-flex-direction:row;
            flex-direction: row
        }
    }
    
    .styles_disclaimer-rows__5N6PU {
        max-width: 1024px;
        margin: 32px auto 0
    }
    
    .styles_disclaimer-rows__5N6PU,.styles_middle-menu__TPgLt {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: column
    }
    
    .styles_middle-menu__TPgLt {
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        font-size: 16px;
        font-weight: 500
    }
    
    @media(min-width: 960px) {
        .styles_middle-menu__TPgLt {
            -ms-flex-direction:row;
            flex-direction: row
        }
    }
    
    .styles_menu-column__mwJRW>a {
        display: block;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-align: baseline;
        align-items: baseline;
        -ms-flex-pack: start;
        justify-content: start;
        margin-right: 20px;
        color: var(--txt-color);
        justify-items: start;
        line-height: 32px;
        text-decoration: none
    }
    
    @media(min-width: 960px) {
        .styles_menu-column__mwJRW>a {
            line-height:48px
        }
    }
    
    .styles_l10n-section__SN227 {
        display: inline-block;
        line-height: 32px
    }
    
    @media(min-width: 960px) {
        .styles_l10n-section__SN227 {
            line-height:48px
        }
    }
    
    .styles_copyright__i0mCk {
        height: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 12px
    }
    
    .styles_copyright__i0mCk,.styles_left-side__rGWeK {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    
    .styles_left-side__rGWeK {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 16px
    }
    
    .styles_get-started-section__KNLul {
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px
    }
    
    .styles_footnote-hr__ODA_Z {
        width: 100%;
        border-top: 1px solid var(--black-200);
        margin-top: 32px;
        opacity: .5
    }
    
    .styles_social-and-localization-wrapper__15MFT {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 12px 0
    }
    
    .styles_social-and-localization-wrapper__15MFT,.styles_social-link__2FKcN {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row
    }
    
    .styles_social-link__2FKcN {
        width: 35px;
        height: 35px
    }
    
    .styles_social-link__2FKcN+.styles_social-link__2FKcN {
        margin-left: 12px
    }
    
    .styles_footer-logo__lvohb {
        margin-bottom: 16px
    }
    
    .styles_sticky-container__6jhv2 {
        position: fixed;
        z-index: z(fixed-header);
        bottom: 0;
        left: 0;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s
    }
    
    .styles_sticky-container__6jhv2.styles_hidden__fmBY7 {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    
    .styles_floating-button__YwUw2 {
        display: -ms-flexbox;
        display: flex;
        max-width: 360px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 16px;
        margin: 16px;
        background-color: var(--primary);
        border-radius: 16px;
        color: var(--white);
        text-decoration: none
    }
    
    .styles_texts-wrapper__ae9uz {
        margin-right: 16px
    }
    
    .mc_menu_menu-toggle__z72K5 {
        --bar-color: var(--black);
        display: inline-block;
        width: 51px;
        height: 51px;
        margin-right: 8px;
        cursor: pointer;
        -webkit-transform: scale(.5);
        transform: scale(.5);
        vertical-align: middle
    }
    
    .mc_menu_menu-toggle__z72K5 .mc_menu_bar___gqof {
        position: absolute;
        width: 41px;
        height: 4px;
        background: var(--bar-color);
        pointer-events: none;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
    
    .mc_menu_menu-toggle__z72K5 .mc_menu_bar___gqof:first-child {
        top: 10px;
        left: 5px
    }
    
    .mc_menu_menu-toggle__z72K5 .mc_menu_bar___gqof:nth-child(2) {
        top: 23px;
        left: 5px
    }
    
    .mc_menu_menu-toggle__z72K5 .mc_menu_bar___gqof:nth-child(2):after {
        position: absolute;
        top: 0;
        left: 0;
        width: 41px;
        height: 4px;
        background: var(--bar-color);
        content: "";
        pointer-events: none;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
    
    .mc_menu_menu-toggle__z72K5 .mc_menu_bar___gqof:nth-child(3) {
        top: 36px;
        right: 5px
    }
    
    .mc_menu_menu-toggle__z72K5.mc_menu_open__yk9hD .mc_menu_bar___gqof:first-child,.mc_menu_menu-toggle__z72K5.mc_menu_open__yk9hD .mc_menu_bar___gqof:nth-child(3) {
        width: 0
    }
    
    .mc_menu_menu-toggle__z72K5.mc_menu_open__yk9hD .mc_menu_bar___gqof:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    
    .mc_menu_menu-toggle__z72K5.mc_menu_open__yk9hD .mc_menu_bar___gqof:nth-child(2):after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    
    .styles_store-badge-primary__46fgr {
        width: 200px;
        min-width: 200px;
        height: 70px;
        min-height: 70px
    }
    
    .styles_badge-link-primary__aVpCl {
        display: inline-block;
        width: 200px;
        height: 70px
    }
    
    .styles_store-badge-smaller__tDD0j {
        width: 180px;
        min-width: 180px;
        height: 64px;
        min-height: 64px
    }
    
    .styles_badge-link-smaller__Ylupn {
        display: inline-block;
        width: 180px;
        height: 64px
    }
    
    @media(max-width: 940px) {
        .styles_store-badge-primary__46fgr {
            width:144px;
            min-width: 144px;
            height: 48px;
            min-height: 48px
        }
    
        .styles_badge-link-primary__aVpCl {
            display: inline-block;
            width: 144px;
            height: 48px
        }
    
        .styles_store-badge-smaller__tDD0j {
            width: 142px;
            min-width: 142px;
            height: 48px;
            min-height: 48px
        }
    
        .styles_badge-link-smaller__Ylupn {
            display: inline-block;
            width: 142px;
            height: 48px
        }
    }
    
    .styles_landing-menu__zWsYX {
        --bg-color: var(--white);
        --link-color: var(--black);
        --signup-bg-color: var(--black);
        --signup-txt-color: var(--white);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 100px 51px;
        background: var(--bg-color)
    }
    
    @media screen and (min-width: 396px) {
        .styles_landing-menu__zWsYX {
            border-radius:16px 0 0 16px
        }
    }
    
    @media screen and (max-width: 360px)and (min-width:340px) {
        .styles_landing-menu__zWsYX {
            margin-right:-20px
        }
    }
    
    @media screen and (max-width: 340px)and (min-width:320px) {
        .styles_landing-menu__zWsYX {
            margin-right:-8px
        }
    }
    
    @media screen and (max-width: 320px)and (min-width:285px) {
        .styles_landing-menu__zWsYX {
            margin-right:-30px
        }
    }
    
    .styles_landing-menu__zWsYX .styles_item__Kuffd {
        display: block;
        display: -ms-flexbox;
        display: flex;
        height: 60px;
        -ms-flex-align: center;
        align-items: center;
        color: var(--link-color);
        font-size: 32px;
        text-decoration: none
    }
    
    .styles_landing-menu__zWsYX .styles_inverse-button__GlLTr {
        display: -ms-flexbox;
        display: flex;
        width: 150px;
        height: 50px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 48px 2px;
        margin-top: 50px;
        background: var(--signup-bg-color);
        border-radius: 45px;
        color: var(--signup-txt-color);
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none
    }
    
    @media screen and (max-width: 340px)and (min-width:280px) {
        .styles_landing-menu__zWsYX .styles_inverse-button__GlLTr {
            margin-top:30px
        }
    }
    
    .styles_landing-menu__zWsYX .styles_badge-wrapper__SqRvY {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 50px;
        margin-right: -20px
    }
    
    .styles_landing-menu__zWsYX .styles_badge-wrapper__SqRvY a {
        margin-right: 10px
    }
    
    @media screen and (max-width: 340px)and (min-width:280px) {
        .styles_landing-menu__zWsYX .styles_badge-wrapper__SqRvY {
            -ms-flex-direction:column;
            flex-direction: column;
            margin-top: 30px
        }
    
        .styles_landing-menu__zWsYX .styles_badge-wrapper__SqRvY a {
            margin-top: 10px
        }
    }
    
    .styles_landing-nav__3QTRc {
        --bg-color: var(--white);
        --link-color: var(--black);
        --signup-bg-color: var(--black);
        --signup-txt-color: var(--white);
        position: relative;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: var(--bg-color)
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        height: 72px;
        -ms-flex-align: center;
        align-items: center
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3>header {
        width: 30%;
        -ms-flex: 1 1;
        flex: 1 1;
        margin-right: 8px
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_inverted-link__765dI,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_item__IjfYM,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_signup__RTVNa {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 20px 10px;
        color: var(--link-color);
        cursor: pointer;
        font-weight: 500;
        text-decoration: none
    }
    
    @media screen and (min-width: 1200px) {
        .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_inverted-link__765dI,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_item__IjfYM,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_signup__RTVNa {
            font-size:20px
        }
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_links__DBq5d {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 16px;
        font-weight: 500
    }
    
    @media screen and (min-width: 1200px) {
        .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_links__DBq5d {
            font-size:20px
        }
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_login__ckNlv,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_signup__RTVNa {
        font-size: 16px;
        font-weight: 500;
        white-space: pre
    }
    
    @media screen and (min-width: 1200px) {
        .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_login__ckNlv,.styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_signup__RTVNa {
            font-size:20px
        }
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_login__ckNlv {
        padding: 16px 30px
    }
    
    .styles_landing-nav__3QTRc .styles_container__NuYz3 .styles_navbar__8bJTX .styles_right-side__zW0jW .styles_signup__RTVNa {
        padding: 10px 45px;
        margin-left: 8px;
        background: var(--signup-bg-color);
        border-radius: 30px;
        color: var(--signup-txt-color)!important
    }
    
    .styles_landing-nav__3QTRc .styles_menu-background__YfKmT {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #0003;
        -webkit-transition: background-color .3s;
        transition: background-color .3s
    }
    
    .styles_landing-nav__3QTRc .styles_menu-background__YfKmT .styles_menu__TKxwr {
        position: absolute;
        right: 0;
        height: 100%;
        -webkit-transition: right .3s;
        transition: right .3s
    }
    
    .styles_landing-nav__3QTRc .styles_menu-background__YfKmT:not(.styles_open__pjyKK) {
        background: none;
        pointer-events: none
    }
    
    .styles_landing-nav__3QTRc .styles_menu-background__YfKmT:not(.styles_open__pjyKK) .styles_menu__TKxwr {
        right: -500px
    }
    
    .styles_landing-nav__3QTRc .styles_menu-toggle-container__tYZj_ {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: -ms-flexbox;
        display: flex;
        height: 72px;
        -ms-flex-align: center;
        align-items: center
    }
    
    .styles_landing-nav__3QTRc.styles_collapse__q1T_m .styles_container__NuYz3 .styles_navbar__8bJTX {
        visibility: hidden
    }
    
    .landing_landing-layout__y4u_A {
        --padding: 32px;
        --secondary-on-inverse: #a19f9f;
        --background-color: var(--dugout);
        display: -ms-flexbox;
        display: flex;
        min-height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 72px;
        background: var(--dugout)
    }
    
    .landing_landing-layout__y4u_A .landing_nav__WDPBc {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: -webkit-box-shadow .3s,-webkit-transform .3s;
        transition: -webkit-box-shadow .3s,-webkit-transform .3s;
        transition: box-shadow .3s,transform .3s;
        transition: box-shadow .3s,transform .3s,-webkit-box-shadow .3s,-webkit-transform .3s
    }
    
    .landing_landing-layout__y4u_A .landing_nav__WDPBc:not(.landing_top__0lGm7) {
        -webkit-box-shadow: 0 0 8px 0 #0003;
        box-shadow: 0 0 8px 0 #0003
    }
    
    .landing_landing-layout__y4u_A .landing_nav__WDPBc:not(.landing_top__0lGm7).landing_hidden__hs_pt {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    
    .landing_landing-layout__y4u_A .landing_content__9bWbC {
        -ms-flex: 1 1;
        flex: 1 1
    }
    
    .landing_landing-layout__y4u_A .landing_join__ZdxMS {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s
    }
    
    .landing_landing-layout__y4u_A .landing_join__ZdxMS.landing_hidden__hs_pt {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    
    .credit-account_credit-account-page__v3o5d .credit-account_separator__FWY7a {
        height: 20px;
        background: #000
    }
    
    .credit-account_headline__EC6V9 {
        padding-bottom: 96px
    }
    
    @media screen and (max-width: 820px) {
        .credit-account_headline__EC6V9 {
            padding-top:30px;
            padding-bottom: 100px
        }
    }
    
    .credit-account_headline__EC6V9 h1 {
        font-size: 52px;
        max-width: 900px;
        margin-bottom: 0;
        font-size: 80px;
        font-weight: 400;
        line-height: 1
    }
    
    @media screen and (min-width: 375px) {
        .credit-account_headline__EC6V9 h1 {
            font-size:calc(52px + 28 * ((100vw - 375px) / 625))
        }
    }
    
    @media screen and (min-width: 1000px) {
        .credit-account_headline__EC6V9 h1 {
            font-size:80px
        }
    }
    
    @media screen and (max-width: 820px) {
        .credit-account_headline__EC6V9 h1 {
            padding-bottom:60px
        }
    }
    
    .credit-account_headline__EC6V9 h1 em {
        color: var(--primary);
        font-style: normal
    }
    
    .credit-account_headline__EC6V9 .credit-account_email__4i9Mb {
        display: -ms-flexbox;
        display: flex;
        max-width: 500px;
        height: 200px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 -16px
    }
    
    .credit-account_headline__EC6V9 .credit-account_email__4i9Mb .credit-account_input__Tktql,.credit-account_headline__EC6V9 .credit-account_email__4i9Mb .credit-account_signup__DC12t {
        margin: 0 16px
    }
    
    .credit-account_headline__EC6V9 .credit-account_email__4i9Mb .credit-account_input__Tktql {
        min-width: 200px;
        -ms-flex: 2 1;
        flex: 2 1
    }
    
    .credit-account_headline__EC6V9 .credit-account_email__4i9Mb .credit-account_signup__DC12t {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        -ms-flex: 1 1;
        flex: 1 1;
        padding: 16px 36px;
        background: #000;
        border-radius: 30px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center
    }
    
    .credit-account_how-it-works-container__Xr_Xe {
        background: #fff
    }
    
    .credit-account_how-it-works__BDaYX {
        padding: 120px 0
    }
    
    .credit-account_how-it-works__BDaYX>header {
        margin-bottom: 48px;
        font-size: 32px;
        font-weight: 500;
        text-align: center
    }
    
    .credit-account_how-it-works__BDaYX .credit-account_step__2p_IO {
        margin-top: 100px
    }
    
    .credit-account_breakdown__RflyS {
        padding: 120px 0
    }
    
    .credit-account_breakdown__RflyS>header {
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 500;
        text-align: center
    }
    
    .credit-account_breakdown__RflyS .credit-account_note__ZnKkq {
        max-width: 840px;
        margin: 0 auto;
        color: #4e4e4e;
        font-size: 24px
    }
    
    .credit-account_breakdown__RflyS .credit-account_effect__vYFYj {
        margin-top: 80px
    }
    
    .credit-account_learn__CKCOw {
        padding: 120px 0;
        background: #eeeceb
    }
    
    .credit-account_learn__CKCOw>header {
        margin-bottom: 32px;
        font-size: 32px;
        font-weight: 500;
        text-align: center
    }
    
    .credit-account_learn__CKCOw .credit-account_note__ZnKkq {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0 32px;
        margin: 0 auto;
        font-size: 18px
    }
    
    .credit-account_learn__CKCOw .credit-account_articles-container__CyYY6 {
        padding: 40px 0;
        overflow-x: auto
    }
    
    .credit-account_learn__CKCOw .credit-account_articles__VGc5T {
        display: -ms-flexbox;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0 32px;
        margin: 0 auto
    }
    
    .credit-account_learn__CKCOw .credit-account_articles__VGc5T .credit-account_article__gaSrL {
        display: -ms-flexbox;
        display: flex;
        width: 323px;
        max-width: calc(100vw - 64px - 20px);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 40px 32px;
        margin: 0 8px;
        background: #fff
    }
    
    .credit-account_learn__CKCOw .credit-account_articles__VGc5T .credit-account_article__gaSrL>header {
        -ms-flex: 1 1;
        flex: 1 1;
        margin-bottom: 32px;
        color: #4e4e4e;
        font-size: 24px
    }
    
    .credit-account_learn__CKCOw>a {
        display: block;
        margin-top: 40px;
        color: #000;
        text-align: center
    }
    
    /*# sourceMappingURL=e58d194f102a58d2.css.map*/
    