.banner-img-credit {
    width: 410px;
    position: relative;
    top: 30px;
    bottom: px;
}

.banner-img-credit-mb {
    width: 253px;
    position: absolute;
    top: 15;
    margin-bottom: 20px;
    z-index: -1;
}

.ready-for-liftoff-credit {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    }
    
    .ready-for-liftoff-credit .ready-wrapper {
    background: var(--white);
    color: var(--primary-text);
    box-shadow: rgb(133 127 120 / 64%) 0px 8px 24px;;
    padding: calc(var(--spacing-increment) * 2);
    border-radius: var(--corner-radius-large);
    margin-left: 20px;
    margin-right: 20px;
    outline-color: var(--gray-primary-900);
    }
    
    .ready-for-liftoff-credit .for-mg {
    height: 117px;
    }
    
    .ready-for-liftoff-credit .banner-img-mb {
    width: 50px;
    position: absolute;
    top: 10;
    margin-bottom: 120px;
    z-index: -1;
    }
    
    .ready-for-liftoff-credit .ready-wrapper h4 {
    font: var(--title-3);
    text-align: center;
    margin: 0;
    }
    
    .ready-for-liftoff-credit .ready-wrapper p {
    font: var(--footnote-medium);
    text-align: center;
    margin: 0;
    }
    
    .ready-for-liftoff-credit .ready-wrapper h5 {
    font: var(--headline);
    text-align: center;
    color: var(--dark-blue);
    margin: 0;
    }

    @media (max-width: 1200px) {
        .hero {
            height: unset;
        }
    
        .banner-img-credit,
        .main .content h2,
        .main .content h6 {
            display: none;
        }
    }
