/* Increase accordion size and width */
.segments {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(212, 212, 212, 1);
    margin: 15px auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3.accordion-toggle {
    padding: 20px;
    margin: 0;
    border-top: 1px solid #e4eaf2;
    color: #213248;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  h3.accordion-toggle:hover {
    background-color: #f2f2f2;
  }
  
  h3.accordion-toggle:after {
    float: right;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #c9c9cb;
    border-right: 1px solid #c9c9cb;
    border-top-color: transparent;
    border-left-color: transparent;
    margin-top: 10px;
    margin-right: 10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  h3.accordion-toggle.open:after {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left: 1px solid #c9c9cb;
    border-top: 1px solid #c9c9cb;
    transform: rotate(-135deg);
  }
  
  .accordion-content {
    display: none;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #7d7c82;
  }
  
  /* JS effects */
  .accordion-toggle.active + .accordion-content {
    display: block;
    animation: fade-in 0.3s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: auto;
    }
  }