/* css */
@import url(variable.css);
@import url(bootstrap.css);

/* *************** Global
 ******************************* */
body {
    margin: 0;
    line-height: 1.4;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.button {
    font-size: 16px;
    line-height: 21px;
    padding: 11px 16px;
    min-height: 45px;
    background-color: #fae626;
    width: 311px;
    font-family: var(--self-font-family);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: var(--semi-bold);
    color: var(--primary-text);
    border-radius: var(--corner-radius-small);
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-flex;
}

.button-alternate {
    font-size: 16px;
    line-height: 21px;
    padding: 11px 16px;
    min-height: 45px;
    background-color: #3392ff;
    width: 311px;
    font-family: var(--self-font-family);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: var(--semi-bold);
    color: var(--primary-text);
    border-radius: var(--corner-radius-small);
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-flex;
}

.button-light {
    font-size: 16px;
    line-height: 21px;
    padding: 11px 16px;
    min-height: 45px;
    background: var(--white);
    border: 1px solid #c5c5c5;
    font-family: var(--self-font-family);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: var(--semi-bold);
    color: var(--primary-text);
    border-radius: var(--corner-radius-small);
    text-decoration: none;
    display: inline-flex;
}

/* .button:hover{
    font-size: 16px;
    line-height: 21px;
    padding: 11px 16px;
    min-height: 45px;
    background-color: #fcae03;
    width: 311px;
} */
/* *************** Hero Section
 ******************************* */

.hero {
    position: relative;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end; */
    width: 100%;
    color: rgb(255, 255, 255);
    height: 655px;
    border-radius: 0px 0px 24px 24px;
    height: 685px;
}

/* @media (min-width: 577px){
} */
.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

/* ========= Navbar ========= */
.header-navbar {
    display: flex;
    -webkit-box-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    top: 0px;
    height: 66px;
    z-index: 1001;
    font: var(--footnote-semi-bold);
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: transparent;
}

.header-navbar.fixed {
    background-color: #00ADEE !important;
    z-index: 5;
}

.header-navbar ul.nav-list li {
    float: left;
    list-style: none;
}

.header-navbar ul li a,
.header-navbar .login,
.drop-list {
    padding: 7px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
}

.header-navbar ul li a:hover,
.header-navbar .login:hover,
.drop-list:hover {
    background-color: #ffffff;
    color: rgb(0, 173, 238);
}

.header-navbar ul li .drop-list img {
    filter: brightness(0) invert(1);
    vertical-align: middle;
}

.drop-list {
    border-radius: 8px 8px 0 0 !important;
    position: relative;
}

.header-navbar button {
    font-size: 13px;
    line-height: 18px;
    padding: 6px 16px;
    min-height: 32px;
    background-color: #fae626;
    cursor: pointer;
    font-family: var(--self-font-family);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: var(--semi-bold);
    color: var(--primary-text);
    border-radius: var(--corner-radius-small);
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-flex;
}

ul.sub-list {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    padding: 5px 0;
    min-width: 248px;
    border-radius: 0 8px 8px 8px;
    box-shadow: 6px 6px 6px 0 rgb(0 0 0 / 18%), -6px 6px 6px 0 rgb(0 0 0 / 18%);
}

ul.sub-list li {
    height: 30px;
}

ul.sub-list li a {
    text-decoration: none;
    padding: 3px 20px;
    line-height: 2;
    text-transform: none;
    color: var(--black);
    font-weight: 600;
}

.header-navbar ul.nav-list .drop-list:hover ul.sub-list {
    display: flex !important;
}

@media (max-width: 770px) {
    .header-navbar {
        background-color: #00ADEE !important;
    }

    .header-navbar button,
    .header-navbar .nav-list {
        display: none;
    }
}

/* ========= Mobile Navbar ========= */
.mobile-nav {
    height: calc(100vh - 66px);
    position: fixed;
    top: 66px;
    z-index: 5;
    width: 100%;
    background-color: #fff;
}

.mobile-nav .list .list-item {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid rgba(204, 204, 204, .42);
    text-decoration: none;
    color: inherit;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.mobile-nav .list {
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.mobile-nav .list .list-item .img {
    padding-right: 12px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========= Main Section ========= */
.main .content input {
    border: 1px solid transparent;
    border-radius: 24px;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    margin-bottom: 16px;
    text-indent: 16px;
    appearance: none;
    box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
    outline: transparent solid 1px;
    color: rgb(50, 50, 50);
    line-height: 18px;
    height: 48px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 12px;
    width: 386px;
    margin: 0;
}

.main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 542px;
}

.main .content .rating {
    display: inline-block;
    font-family: Times;
    line-height: 1;
    font-size: 22px;
}

.main .content .rating::before {
    content: "★★★★★";
    -webkit-text-fill-color: rgb(250, 230, 38);
    background: linear-gradient(90deg, rgb(250, 230, 38) 98%, rgb(255, 255, 255) 98%) text;
}

.main .content .rating-text {
    margin: 4px 0px 0px 4px;
    font: var(--footnote-semi-bold);
    color: var(--gray-primary-900);
}

.main .content .review {
    font: var(--footnote-bold);
    color: var(--gray-primary-900);
    margin: 4px 0px 0px 4px;
    text-align: left !important;
}

.banner-img {
    width: 600px;
    position: relative;
    bottom: -05px;
}

.main .content h1 {
    font: var(--headline-big);
    text-align: left;
    color: #fff;
}

.main .content h2,
.main .content h3 {
    font: var(--headline);
    text-align: left;
    color: #ffffff;
}

.main .content h3 {
    display: none;
}

.main .content h6 {
    font: var(--caption-2-medium);
    color: #ffffff;
}

.ready-for-liftoff {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.ready-for-liftoff .ready-wrapper {
    background: var(--white);
    color: var(--primary-text);
    box-shadow: rgb(133 127 120 / 64%) 0px 8px 24px;;
    padding: calc(var(--spacing-increment) * 2);
    border-radius: var(--corner-radius-large);
    margin-left: 20px;
    margin-right: 20px;
    outline-color: var(--gray-primary-900);
}

.ready-for-liftoff .for-mg {
    height: 217px;
}

.ready-for-liftoff .banner-img-mb {
    width: 303px;
    position: absolute;
    top: 10;
    margin-bottom: 120px;
    z-index: -1;
}

.ready-for-liftoff .ready-wrapper h4 {
    font: var(--title-3);
    text-align: center;
    margin: 0;
}

.ready-for-liftoff .ready-wrapper p {
    font: var(--footnote-medium);
    text-align: center;
    margin: 0;
}

.ready-for-liftoff .ready-wrapper h5 {
    font: var(--headline);
    text-align: center;
    color: var(--dark-blue);
    margin: 0;
}

.main .content form {
    width: 100%;
    position: relative;
}

.mo-btn {
    position: absolute !important;
    right: 6px;
    top: 27px;
    bottom: 6px;
    font-size: 0px;
    width: 37px;
    height: 37px;
    background-color: rgb(250, 230, 38);
    color: rgb(255, 255, 255);
    box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
    outline: transparent solid 1px;
    border-radius: 24px;
    font-size: 16px;
    padding: 15px 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .hero {
        height: unset;
    }

    .banner-img,
    .main .content h2,
    .main .content h6 {
        display: none;
    }

    .ready-for-liftoff {
        display: flex;
    }

    .main .content {
        max-width: 542px;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        padding-top: 42px;
    }

    .main .content h1 {
        font: var(--extra-large-title);
        text-align: center;
    }

    .main .content h3 {
        display: block;
        margin: 4px 0 12px;
    }

    .main .content form {
        margin-top: 30px;
    }

    .main .content .rating::before {
        -webkit-text-fill-color: rgb(0, 118, 163);
        background: linear-gradient(90deg, rgb(0, 118, 163) 98%, rgb(255, 255, 255) 98%) text;
    }
}

@media (max-width: 575px) {
    .main .content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main .content input {
        width: 100%
    }

    .mo-btn {
        display: flex !important;
    }

    .ready-for-liftoff .ready-wrapper {
        width: 100%;
    }
}

/* *************** ways to build credit
 ******************************* */
.ways-to-build-credit {
    padding: 55px 0;
    background-color: white;
}

.ways-to-build-credit h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 10px;
}

.ways-to-build-credit p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #000000;
}

.ways-to-build-credit .cards {
    background-color: #0076A3;
    color: var(--white);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px 0px;
    border-radius: var(--corner-radius-large);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 320px;
    height: auto;
    position: relative;
    padding: 20px 20px 0px 20px;
    overflow: hidden;
}

.ways-to-build-credit .cards .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 203%;
    /* max-width: 320px; */
}

.ways-to-build-credit .cards h3 {
    font: var(--title-3);
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: #ffffff;
}

.ways-to-build-credit .cards a {
    font-family: var(--self-font-family);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: var(--semi-bold);
    color: var(--primary-text);
    border-radius: var(--corner-radius-small);
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    line-height: 21px;
    padding: 11px 13px;
    min-height: 45px;
    background: var(--cta-orange);
}

.ways-to-build-credit .cards h6 {
    font: var(--body-semi-bold);
    margin: 0px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
}

@media (max-width: 763px) {
    .ways-to-build-credit .cards {
        max-width: 100%;
    }

    .ways-to-build-credit .cards .shape {
        width: 103%;
    }
}

/* *************** How it works
 ******************************* */
.how-it-works {
    position: relative;
    padding: 98px 0px;
}

.how-it-works h1 {
    font-size: 34px;
    margin-bottom: 16px;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(50, 50, 50);
    text-align: center;
}

.how-it-works p {
    font-size: 20px;
    font-weight: normal;
    color: rgb(102, 102, 102);
    margin: 0px 0px 32px;
    text-align: center;
}

.how-it-works .video {
    position: relative;
    box-sizing: border-box;
    max-width: 810px;
    width: 100%;
    padding-bottom: 42px;
}

.how-it-works .video-wrapper {
    display: flex;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 54px;
    overflow: hidden;
}

.how-it-works .count {
    padding-top: 4px;
    height: 32px;
    font: var(--extra-large-title);
    line-height: 1;
    color: var(--cta-orange);
}

.how-it-works h3 {
    font-weight: bold;
    margin-top: 0px;
    font-size: 24px;
    color: rgb(50, 50, 50);
    margin-bottom: 8px;
}

.how-it-works .content {
    margin: 0px 0px 0px 12px;
}

.how-it-works h6 {
    margin-top: 0px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
    margin-bottom: 0px;
    font-weight: normal;
}

@media (max-width: 763px) {
    .how-it-works {
        padding-top: 0px;
    }

    .how-it-works h1 {
        font-size: 34px;
    }

    .how-it-works .count {
        max-width: 70px;
        padding: 0 20px;
        text-align: center;
    }
}

/* *************** Features
 ******************************* */
.features {
    background-color: rgb(230, 247, 253);
    padding: 32px 15px;
}

.features h1 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(50, 50, 50);
    text-align: center;
}

.features .cards {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px 0px;
    padding: 24px;
    border-radius: 24px;
    flex-direction: row;
    padding: 30px;
    height: auto;
    margin-top: 20px;
}

.features .cards div {
    margin: 0px 20px;
}

.features .cards h3 {
    color: rgb(50, 50, 50);
    font-weight: bold;
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    align-self: start;
    text-transform: none;
}

.features .cards p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 4px;
    color: rgb(50, 50, 50);
}

/* *************** Branding
 ******************************* */
.branding {
    padding: 32px 15px 12px;
    background-color: rgb(255, 255, 255);
}

.branding h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(0, 173, 238);
    margin-bottom: 0px;
    text-align: center;
}

.branding img {
    margin: 20px;
}


/* *************** Self Credit Builder Account
 ******************************* */
.self-credit-builder-account {
    background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
    padding: 0px 16px 0px;
    position: relative;
}

.self-credit-builder-account img {
    height: 545px;
}

.self-credit-builder-account button {
    background: var(--gray-primary-900);
    color: var(--white);
}

.self-credit-builder-account h1 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--white);
    line-height: 32px;
}

.self-credit-builder-account p {
    font-size: 14px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.self-credit-builder-account h6 {
    font-size: 16px;
    line-height: 21px;
    padding: 11px 16px;
    color: #ffffff;
    min-height: 45px;
    text-align: center;
}

.self-credit-builder-account .p2 {
    font-size: 9px;
    line-height: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

@media (max-width: 570px) {
    .self-credit-builder-account p {
        font-size: 14px;
        line-height: 22px;
        max-width: 150px;
        color: rgb(255, 255, 255);
        margin-bottom: 16px;
    }

    .self-credit-builder-account .p2 {
        font-size: 10px;
        line-height: 13px;
        width: 35%;
        color: rgb(255, 255, 255);
    }

    .self-credit-builder-account h1 {
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 22px;
        color: #FFFFFF;
        line-height: 32px;
        max-width: 280px;
    }

    .self-credit-builder-account .button {
        width: 288px;
    }

    .self-credit-builder-account {
        min-height: 480px;
        padding: 32px 16px 0px;
        position: relative;
        display: flex;

    }

    .self-creadet-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


/* *************** Pricing
 ******************************* */
.pricing {
    align-items: center;
    background-color: rgb(247, 247, 247);
    padding: 32px 0px;
    color: #323232;
}

section.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

.pricing h6 {
    font-size: 24px;
    line-height: 28px;
}

.pricing .cards {
    display: flex;
    border-radius: 32px;
    margin-bottom: 16px;
    align-self: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
    position: relative;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 32px 24px 24px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid transparent;
    width: 220px;
}

.pricing .cards h3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 32px;
    font-weight: bold;
}

.pricing .cards h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #323232;
    font-weight: 400;
    margin: 0;
}

.pricing .cards h1 span {
    font-size: 24px;
    line-height: 24px;
}

.pricing .cards h4,
.pricing .cards h5 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
    text-align: center;
    color: #323232;
    font-weight: 400;
}

.pricing .cards h5 {
    font-weight: 700;
}

.pricing .cards img {
    position: absolute;
    width: 102%;
    left: -1px;
    top: -1px;
    right: 0px;
    border-radius: 32px 32px 0px 0px;
    user-select: none;
    pointer-events: none;
}

.pricing .cards p {
    font-size: 12px;
    line-height: 32px;
    color: rgb(102, 102, 102);
    margin: 0;
}

.pricing .sm-text {
    font-size: 10px;
    line-height: 32px;
    color: rgb(102, 102, 102);
}

@media (max-width:981px) {
    .pricing-list {
        width: calc(100vw - 32px);
        overflow-x: auto;
    }
}

/* width */
.pricing-list::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.pricing-list::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.pricing-list::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
.pricing-list::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

@media(max-width: 763px) {
    .pricing h6 {
        font-size: 18px;
        line-height: 24px;
    }

    .pricing .p2 {
        font-size: 11px;
    }
}

/* *************** Pay rent
 ******************************* */
.pay-rent {
    background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
    padding: 68px 0px 0;
}

.pay-rent h1 {
    background: var(--white);
    color: var(--white);
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
}

.pay-rent p {
    margin: 40px 15px 24px;
    font-size: 15px;
    color: #FFFFFF;
}

.pay-rent button {
    width: 90%;
}

@media (max-width: 768px) {
    .pay-rent button {
        width: 100%;
    }
}


/* *************** Start building history
 ******************************* */
.start-building-history {
    position: relative;
    background-color: rgb(0, 173, 238);
    color: rgb(255, 255, 255);
    padding: 48px 0px;
}

.start-building-history .cards {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 296px;
    padding: 24px 16px;
    text-align: center;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
    color: rgb(50, 50, 50);
}

.start-building-history .cards .img {
    margin-bottom: 24px;
}

.start-building-history .cards h4 {
    font-weight: bold;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--primary-text);
}

.start-building-history .cards p {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 24px;
    color: var(--primary-text);
    font-weight: normal;
}

.start-building-history .cards .link {
    color: rgb(0, 173, 238);
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}


/* *************** Payment history makes up ******************************* */
.payment-history-makes {
    position: relative;
    padding: 15px 0px;
    background-color: #ffffff;
  }
  
  .payment-history-makes img {
    padding: 35px 38px;
  }
  
  .payment-history-makes h1 {
    font-size: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(50, 50, 50);
  }
  
  .payment-history-makes p {
    margin-top: 0px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-left: 89px;
    margin-bottom: 24px;
  }
  
  @media (max-width: 981px) {
    .payment-history-makes p {
      margin-left: 0;
    }
  }
  
  /* Center the first and third columns on large screens */
  .payment-history-makes .col-lg-4:nth-of-type(1),
  .payment-history-makes .col-lg-4:nth-of-type(3) {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  /* Stack columns on small screens */
  @media (max-width: 767px) {
    .payment-history-makes .col-lg-4,
    .payment-history-makes .col-lg-8 {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* Add margin-bottom to images on small screens */
    .payment-history-makes img {
      margin-bottom: 40px;
    }
  }
  
  /* CSS class for aligning text to the left and image to the right */
  .right-align {
    display: flex !important;
    flex-direction: row-reverse !important;
  }
  
  /* Apply the 'right-align' class to the second and fourth columns */
  .payment-history-makes .col-lg-4:nth-of-type(2),
  .payment-history-makes .col-lg-4:nth-of-type(4) {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  /* Reversed order for second and fourth column on large screens */
  @media (min-width: 992px) {
    .payment-history-makes .col-lg-4:nth-of-type(2),
    .payment-history-makes .col-lg-4:nth-of-type(4) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  @media (min-width: 992px) {
    .payment-history-makes .col-lg-4:nth-of-type(2).order-2,
    .payment-history-makes .col-lg-4:nth-of-type(4).order-4 {
      order: 1;
    }
    
    .payment-history-makes .col-lg-4:nth-of-type(1).order-1,
    .payment-history-makes .col-lg-4:nth-of-type(3).order-3 {
      order: 2;
    }
  }

  .payment-history-makes .col-lg-8.order-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 767px) {
    .payment-history-makes .col-lg-8 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  
  
  
  


/* *************** Trusted Security
 ******************************* */
.trusted-security {
    position: relative;
    padding: 48px 0px;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.trusted-security img {
    margin-bottom: 24px;
}

.trusted-security h3 {
    font-weight: bold;
    margin-top: 0px;
    color: rgb(0, 216, 102);
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.trusted-security p {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
    padding: 0px 15px;
}


/* *************** Reviews & Rating
 ******************************* */
.reviews-rating {
    position: relative;
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 48px 0px;
    color: rgb(50, 50, 50);
}

.reviews-rating h1 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    color: rgb(50, 50, 50);
}

.reviews-rating .img1 {
    width: 136px;
    margin-bottom: 20px;
}

.reviews-rating .img2 {
    margin-left: 24px;
    width: 184px;
    margin-bottom: 20px;
}

.reviews-rating .cards {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
    padding: 24px;
    text-align: start;
    width: 100%;
    height: 100%;
}

.reviews-rating .cards p {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(102, 102, 102);
}

.reviews-rating .cards h3 {
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: rgb(50, 50, 50);
}


/* *************** Benefits of a Credit Builder
 ******************************* */
.benefits-of-credit {
    position: relative;
    padding: 48px 0px;
    padding-top: 100px;
    background-color: white;
}

.benefits-of-credit h1 {
    font-size: 44px;
    font-weight: bold;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
    color: rgb(50, 50, 50);
}

.benefits-of-credit .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.benefits-of-credit .cards img {
    width: 60px;
    margin-bottom: 16px;
    align-self: center;
}

.benefits-of-credit .cards h3 {
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 8px;
}

.benefits-of-credit .cards p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 22px;
    color: rgb(102, 102, 102);
    margin-bottom: 0px;
}



/* *************** control of your credit
 ******************************* */
.control-your-credit {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 173, 238);
    color: rgb(255, 255, 255);
    padding: 32px 0px 48px;
    margin-top: 100px;
}

.control-your-credit h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0px 34px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 173, 238);
    color: rgb(255, 255, 255);
}

.control-your-credit form .input {
    height: 48px;
    width: 400px;
    font-size: 16px;
    line-height: 20px;
    background-color: white;
    position: relative;
    border-radius: var(--corner-radius-small);
    margin-bottom: 15px;
}

.control-your-credit form .input label {
    position: absolute;
    top: 13px;
    left: 19px;
    z-index: 1;
    font-family: var(--self-font-family);
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--medium);
    color: var(--secondary-text-alt);
}

.control-your-credit form .input input {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--corner-radius-small);
    padding: 27px 16px 10px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-decoration: none;
}

.control-your-credit p {
    line-height: 1.2;
    margin-top: 8px;
    text-align: center;
    background-color: rgb(0, 173, 238);
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 22px;
    margin-top: 32px;
}

.control-your-credit p a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

/* *************** Footer
 ******************************* */
.footer {
  background-color: #110202;
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .row {
  margin-bottom: 30px;
}

.footer .col-md-4 {
  margin-bottom: 15px;
}

.footer .title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.footer .text {
  margin-bottom: 20px;
}

.footer .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .list li {
    margin-bottom: 8px;
    }
    
    .footer .list li a {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    }
    
    .footer .list li a:hover {
    color: rgb(248, 255, 58);
    }
    
    .footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    }
    
    .footer .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 18px;
    height: 36px;
    width: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.2s linear 0s;
    }
    
    .footer .social-icons a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(245, 245, 245);
    }
    
    .footer .social-icons i {
    line-height: 36px;
    }
    
    .footer .join {
        margin-top: 30px;
    }
    
    .footer .sup-btn {
        display: block;
        margin-top: 10px;
    }
    
    .footer .social-icons {
        margin-bottom: 30px;
    }



.intro {
    text-align: center;
}

.intro .header {
    font-size: 45px;
    line-height: 48px;
    text-align: center;
    color: #323232;
    font-weight: 400;
    margin: 0;
    margin-top: 40px;
}

.intro .subheader {
    font-size: 18px;
    line-height: 32px;
    color: rgb(102, 102, 102);
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.loan-type-info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 50px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
}


.loan-type-info-container .column {
    display: flex;
}

.mobileAveragesContainer {
    display: none;
}

.mobileCreditScoreContainer {
    display: none;
}

div.dd-label {
    position: absolute;
    background: white;
    pointer-events: none;
    display: none;
}

#loanType {
    display: none;
}

.loan-widget {
    max-width: 1500px;
    padding: 0px;
    background-color: white;
    margin: auto;
}

.slider-container {
    position: relative;
    height: 77px;
    width: 700px;
    border: none;
    margin: 0 auto;
    padding: 20px;
}

.slider {
    position: absolute;
}

.slider>input {
    background: transparent;
    box-sizing: border-box;
    border: none;
    width: 690px;
    height: 25px;
    border-radius: 4px;
}

.slider>input::-webkit-slider-runnable-track {
    border-radius: 4px;
    height: 25px;
    background: linear-gradient(to right, #fa4a3e, #fa4a3e 50.75%, transparent 50.75%, transparent 51.25%, #ff6600 51.25%, #ff6600 67.1%, transparent 67.1%, transparent 67.6%, #ffff00 67.6%, #ffff00 79.75%, transparent 79.75%, transparent 80.25%, #00ff66 80.25%, #00ff66 90.75%, transparent 90.75%, transparent 91.25%, #00bfff 91.25%, #00bfff 100%);
}

.slider>input::-moz-range-track {
    border-radius: 4px;
    height: 25px;
    background: linear-gradient(to right, #fa4a3e, #fa4a3e 50.75%, transparent 50.75%, transparent 51.25%, #ff6600 51.25%, #ff6600 67.1%, transparent 67.1%, transparent 67.6%, #ffff00 67.6%, #ffff00 79.75%, transparent 79.75%, transparent 80.25%, #00ff66 80.25%, #00ff66 90.75%, transparent 90.75%, transparent 91.25%, #00bfff 91.25%, #00bfff 100%);
}


input[type="range"]::-webkit-media-slider-thumb {
    background: transparent;
    height: 60px;
    width: 90px;
    cursor: pointer;
    margin-top: -50px;
}

.slider>input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 60px;
    width: 90px;
    cursor: pointer;
    margin-top: -50px;
}

.slider>input::-moz-range-thumb {
    background: transparent;
    height: 60px;
    width: 90px;
    cursor: pointer;
    margin-top: -50px;
}

output {
    position: absolute;
    top: -39px;
    margin-left: -55px;
    display: block;
    width: 110px;
    height: 85px;
    background-image: url(../images/slider-thumb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    color: #000000;
}

input[type=range]:active+output {
    display: block;
    margin-left: 0px;
    transform: translateX(-50%);
}

.mobileSections {
    display: none;
}

.slider-container .slider .scoreSections {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    font-family: "azo-sans-web", sans-serif
}

.slider-container .slider .scoreSections .poor {
    width: 342px;
}

.slider-container .slider .scoreSections .fair {
    width: 112px;
}

.slider-container .slider .scoreSections .good {
    width: 90px;
}

.slider-container .slider .scoreSections .very-good {
    width: 64px;
}

.slider-container .slider .scoreSections .excellent {
    width: 70px;
}

.slider-container .slider .scoreIntervals {
    display: flex;
    position: absolute;
    margin-left: -2px;
    margin-top: 1px;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
    color: #747476;
    font-family: "trade-gothic-next-lt-pro", sans-serif;
}

.slider-container .slider .scoreIntervals .poor {
    width: 342px;
}

.slider-container .slider .scoreIntervals .fair {
    width: 110px;
}

.slider-container .slider .scoreIntervals .good {
    width: 85px;
}

.slider-container .slider .scoreIntervals .very-good {
    width: 74px;
}

.slider-container .slider .scoreIntervals .excellent {
    width: 59px;
}

.averages-container {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    line-height: 26px;
    color: #747476;
    font-family: 'azo-sans-web', sans-serif;
    padding: 30px 10px 20px;
}

.averages-container span,
.column.right span {
    margin-left: 15px;
    color: #00214F;
    font-size: 23px;
    font-weight: 500;
}

.avg-interest-container {
    display: flex;
}

.avg-monthly-container {
    display: flex;
}

section.credit-costing-you-slider .disclaimer {
    margin: 0 auto;
    margin-bottom: 45px;
}

section.credit-costing-you-slider .cta-block {
    margin: 0 auto;
}

/* CUSTOM SELECT MENU */
.custom-select {
    position: relative;
    font-size: 21px;
    width: 300px;
    height: fit-content;
    box-shadow: rgba(51, 146, 255) 0px 1px 4px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #747476 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #747476 transparent;
    top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    font-weight: 500;
    color: #747476;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color: #747476;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 5px;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    color: rgb(51, 146, 255);
}

#dynamic-disclaimer {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 40px auto;
    max-width: 916px;
    color: #4B4C52;
}

.disclaimer-link {
    color: rgb(51, 146, 255);
    text-decoration: underline;
}

.testimonial-img {
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(59, 71, 82, 0.2);
    float: right;
}

.testimonial-box {
    background-color: rgba(148, 164, 178, .15);
    border-radius: 40px;
    height: 90%;
}

/************ RESPONSIVE STYLING *****************/

@media (max-width: 800px) {

    #dynamic-disclaimer {
        font-size: 9px;
        line-height: 11px;
        margin: 30px auto;
        max-width: 400px;
    }

    .intro .header {
        font-size: 44px;
        line-height: 30px;
    }

    .intro .subheader {
        font-size: 15px;
        line-height: 20px;
    }

    .loan-widget {
        max-width: 300px;
    }

    .custom-select {
        font-size: 16px;
        width: 153px;
        margin: -12px 0px 0px -12px;
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 15px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #747476 transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #747476 transparent;
        top: 8px;
    }

    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
        padding: 4px 12px;
    }


    .loan-type-info-container {
        flex-wrap: wrap;
    }

    .loan-type-info-container .column.left {
        position: relative;
        width: 100%;
    }

    .loan-type-info-container .column.right {
        position: relative;
        width: 110%;
        font-size: 14px;
        font-weight: 400;
        margin: 13px 0px 0px -8px;
        padding-top: 8px;
        border-top: 1px solid #D1D0D4;
    }

    .loan-type-info-container .column.right span {
        font-size: 16px;
        position: absolute;
        right: -8px;
        width: 75px;
        text-align: center;
        margin-right: 8px;
    }

    .mobileCreditScoreContainer {
        display: block;
        position: absolute;
        right: -8px;
        font-size: 15px;
        font-weight: 500;
        top: -18px;
    }

    .mobileCreditScoreContainer #mobileCreditScore {
        color: #00214F;
        font-size: 20px;
        text-align: center;
        margin-bottom: -6px;
    }

    .averages-container {
        flex-wrap: wrap;
    }


    .slider-container {
        width: initial;
        margin-top: 110px;
        margin-bottom: 90px;
        display: flex;
    }

    .slider {
        position: absolute;
        left: -37px;
    }

    .slider #inputRange {
        transform: rotate(-90deg);
        touch-action: none;
    }

    .slider>input {
        /* transform: rotate(-90deg); */
        width: 375px;
        height: 88px;
    }

    .slider>input::-webkit-slider-runnable-track {
        border-radius: 4px;
        width: 375px;
        height: 88px;
        background: linear-gradient(to right, #ff0000, #ff0000 50.25%, transparent 50.25%, transparent 51.75%, #dd7c15 51.75%, #dd7c15 66.6%, transparent 66.6%, transparent 68.1%, #ffc700 68.1%, #ffc700 79.25%, transparent 79.25%, transparent 80.75%, #00ff80 80.75%, #00ff80 90.25%, transparent 90.25%, transparent 91.75%, #33A1FD 91.75%, #33A1FD 100%)
    }

    .slider>input::-moz-range-track {
        border-radius: 4px;
        width: 375px;
        height: 88px;
        background: linear-gradient(to right, #ff0000, #ff0000 50.25%, transparent 50.25%, transparent 51.75%, #dd7c15 51.75%, #dd7c15 66.6%, transparent 66.6%, transparent 68.1%, #ffc700 68.1%, #ffc700 79.25%, transparent 79.25%, transparent 80.75%, #00ff80 80.75%, #00ff80 90.25%, transparent 90.25%, transparent 91.75%, #33A1FD 91.75%, #33A1FD 100%)
    }

    output {
        display: none;
    }

    input[type=range]:active+output {
        display: none;
    }

    input[type="range"]::-webkit-media-slider-thumb {
        background: white;
        margin: 0px;
        border-radius: 6px;
        height: 88px;
        width: 15px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .slider>input::-webkit-slider-thumb {
        background: white;
        margin: 0px;
        border-radius: 6px;
        height: 88px;
        width: 15px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .slider>input::-moz-range-thumb {
        background: white;
        margin: 0px;
        border-radius: 6px;
        height: 88px;
        width: 15px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .slider-container .slider .scoreSections {
        display: none;
    }

    .slider-container .slider .scoreIntervals {
        display: none;
        /*position: absolute;
    margin-left: -2px;
    margin-top: 1px;
    */
    }

    .mobileRating {
        font-size: 14px;
        line-height: 18px;
        color: #00214F;
    }

    .mobileRange {
        font-size: 11px;
        line-height: 14px;
        color: #747476;
    }

    .mobileSections {
        display: block;
        position: absolute;
        top: -123px;
        left: 28px;
        text-align: right;
    }

    .mobileSection.veryGood {
        margin-top: 4px;
    }

    .mobileSection.good {
        margin-top: 11px;
    }

    .mobileSection.fair {
        margin-top: 22px;
    }

    .mobileSection.poor {
        margin-top: 85px;
    }

    .mobileAveragesContainer {
        display: block;
        position: absolute;
        right: 7px;
        max-width: 90px;
        font-size: 14px;
        line-height: 18px;
        color: #747476;
    }

    #mobileAvgInterestCost,
    #mobileAvgMonthlyPayment {
        font-size: 16px;
        color: #00214F;
        margin-top: 4px;
        font-weight: 500;
    }

    .mobileAvgIntContainer {
        margin-top: -99px;
        margin-bottom: 55px;
    }

    .avg-interest-container,
    .avg-monthly-container {
        display: none;
    }
}

@media (max-width: 400px) {
    .mobileAveragesContainer {
        display: none;
    }

    .avg-interest-container,
    .avg-monthly-container {
        display: flex;
        width: 89%;
        justify-content: space-evenly;
        margin: 5px auto;
    }

    .averages-container {
        font-size: 14px;
        line-height: 18px;
    }

    .averages-container span {
        font-size: 16px;
    }

    .slider-container {
        margin-bottom: 130px;
    }
}

@media (max-width: 350px) {
    .mobileCreditScoreContainer {
        font-size: 13px;
        right: -20px;
    }

    .loan-type-info-container .column.right {
        font-size: 13px;
    }

    .loan-type-info-container .column.right span {
        font-size: 15px;
        right: -28px;
    }

    .averages-container {
        font-size: 13px;
    }

    .averages-container span {
        font-size: 15px;
    }

}

/* Snatch can help */
.snatch-can-help-heading {
    padding-top: 100px;
    padding-bottom: 75px;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    }
    
    .green-background {
    color: #33c5c5;
    }

    .white-txt{

        color: #FFFFFF;
    }
    
    @media (max-width: 960px) {
    .snatch-can-help-heading {
    font-size: 55px;
    line-height: 64px;
    }
    }

    @media (min-width: 960px) {
        .snatch-can-help-heading {
        font-size: 35px;
        line-height: 64px;
        }
    }
    
    .block-row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 12px;
    margin: 0 auto;
    }
    
    @media (min-width: 960px) {
    .block-row {
    flex-direction: row;
    }
    }
    
    .landing-block {
    display: flex;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 22px 24px;
    margin: 12px;
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: 1px 1px 4px var(--black);
    color: var(--black);
    }
    
    @media (min-width: 960px) {
    .landing-block {
    padding: 52px;
    }
    }
    
    .landing-block header {
    width: 100%;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin-top: 25px;
    }
    
    @media (max-width: 950px) {
    .landing-block header {
    font-size: 64px;
    line-height: 64px;
    }
    
    css
    Copy code
    .img-side {
        width: 50%;
    }
    
    .landing-block p {
        font-size: 32px;
        line-height: 36px;
        margin-top: 35px;
    }
    }
    
    .landing-block p {
    width: 100%;
    font-size: 32px;
    line-height: 36px;
    margin-top: 25px;
    }
    
    .img-side {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    }
    
    .img-side img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    }
    
    @media (min-width: 960px) {
    .img-side {
    width: 50%;
    margin-top: 35px;
    }
    }
    
    .img-bottom {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    }
    
    .img-bottom img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 23px;
    }
    
    .txt-side {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding:... /* I left this line as-is since it was incomplete. */
    }

    .text-container {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 0 12px;
        margin: 0;
        text-align: left;
        font-size: 16px;
        }
        
        .text-container+.image-container {
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 16px 0 0;
        }
        
        @media(min-width: 960px) {
        .text-container+.image-container {
        width: 40%;
        min-width: 40%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 0 0 0 24px;
        }
        }
        
        .image-container {
        padding-bottom: 0;
        }
        
        @media(min-width: 960px) {
        .image-container {
        -ms-flex-direction: row;
        flex-direction: row;
        }
        }
        
        .image-container img {
        width: 100%;
        max-width: 200px;
        }
        
        @media(min-width: 960px) {
        .image-container img {
        max-width: 300px;
        }
        }

        
.new-way-credit {
    padding-bottom: 0
}

@media(min-width: 960px) {
    .new-way-credit {
        -ms-flex-direction:row;
        flex-direction: row
    }
}

.new-way-credit img {
    width: 100%;
    max-width: 350px
}

@media(min-width: 960px) {
    .new-way-credit img {
        max-width:400px
    }
}
            
            .no-credit-check-container p+header {
            margin-top: 16px;
            color: #ffffff;
            font-size: 24px;
            background-color: #fae626;
            }
        
        .easy-automatic-container {
        padding-bottom: 5;
        }
        
        @media(min-width: 960px) {
        .credit-journey-container {
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #00adee;
        }
        }

        @media(max-width: 960px) {
            .credit-journey-container {
            background-color: #00adee;
            }
            }
        
        .line {
        width: calc(100% + 10px);
        height: 1px;
        margin: 0 -5px;
        background: var(--weak);
        }

/* <!--====== Footer PART START ======--> */
.footer-content .logo {
    height: 50px;
    padding-bottom: 10px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }

footer a {
    color: #9B9B9B !important;
}

footer i {
    color: #FFFFFF;
    font-size: 21px;
    background: #009DE0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
}

.btn-primary {
    background-color: #009DE0 !important;
    border: none !important;
    font-weight: 600 !important;
    font-style: normal;
    size: 14px !important;
    color: #ffffff !important;
    padding: 16px !important;
    line-height: 1 !important;
}

.footer-contact {
    margin: 16px 16px 16px -15px;
    width: 200px;
}

.footer-contact .btn {
    margin-bottom: 8px;
    width: 100%;
}

@media (max-width: 768px) {
    .footer-group {
        margin-top: 30px;
    }

    footer {
        text-align: center;
    }
    
    .footer i {

        padding-right: 15px;
    }

    .footer-contact {
        margin: 16px auto 0 auto;
    }
}



/* <!--====== SUPPORT PART START ======--> */
.support {
    padding-top: 80px;
    padding-bottom: 60px;
}

.tab-content {
    padding: 0 20px;
    font-weight: 400;
    background: white;
    transition: all .35s;
}

/* Search Bar */
.search-header {
    padding: 0 1rem;
}

.support-search-box {
    padding: 0.8rem 3rem;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    font-size: medium;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/main/search.svg);
    background-repeat: no-repeat;
    background-position: 1rem;
}

/* Card */
.card {
    width: 100%;
    color: #000000;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    border: none !important;
    border-radius: 20px !important;
    size: 16px !important;
    margin-bottom: 20px;
}

.card-header {
    background-color: #FFFFFF !important;
    border-bottom: none !important;
}

.card button {
    color: #000000;
    font-weight: 600;
    text-align: left;
    text-decoration: none !important;
    width: 100%;
}

.card button:hover {
    color: #000000;
    text-decoration: none;
}

.card-body {
    padding: 1.125rem 2rem !important;
    font-weight: 400;
    margin-top: 15px;
}

.support-section {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 40px;
}

.support-contact-section {
    margin-bottom: 48px;
}

.support-contact-section .btn {
    width: 100%;
}

.support-link.active {
    background-color: #E7F5FB !important;
    color: #009DE0 !important;
}

.support-link {
    color: #000000 !important;
    border-radius: 10px !important;
}

/* For Mobile */
.support-mobile button {
    border: none;
    background-color: transparent;
}

.mobile-support-subheader {
    width: 100%;
    padding: 10px 20px 0px 20px;
}

.support-mobile .card-body {
    padding: 0 !important;
}

.support-mobile {
    display: none;
}

.support-mobile .card .card-body {
    padding: 0.5rem 2rem 1.125rem 2rem !important;
    text-align: left;
}

@media (max-width: 768px) {

    .support-desktop {
        display: none !important;
    }

    .support-mobile {
        display: block;
    }

    .support-mobile h4 {
        text-align: left;
        font-weight: 500;
    }

    .support-section h5 {
        text-align: left;
        margin-bottom: 20px;
    }
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 96px 48px;
    background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
    text-align: center;
    }
    
    .quote-wrapper header {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    }
    
    .quote-wrapper .note-wrapper {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 30px;
    }
    
    .note-wrapper>div {
    vertical-align: middle;
    }
    
    .note-wrapper .nerdwallet-img {
    margin-left: 8px;
    }
    
    .quote-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
    
    .quote {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 24px 32px;
    margin: 0 8px;
    background: var(--white);
    border-radius: 16px;
    line-height: 1.5;
    }
    
    .quote>div:first-child {
    flex: 1 1;
    margin-bottom: 24px;
    }
    
    .marquee {
        position: absolute;
        width: 200%;
        animation: marquee 20s linear infinite;
      }

    .marquee-wrapper {
    position: relative;
    max-width: -webkit-fit-content;
    max-width: fit-content;
    max-width: -moz-fit-content;
    overflow-x: hidden;
    }
    
    .marquee-wrapper > div {
    position: relative;
    display: flex;
    }
    
    .marquee-wrapper > div:first-of-type {
    position: absolute;
    }
    
    .marquee-wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 40px 0 10px -20px #fff, inset -40px 0 10px -20px #fff;
    pointer-events: none;
    }

    .quote-container:hover .marquee {
        animation-play-state: paused;
      }

      .general-h1 {

        font-size: 34px;
        margin-bottom: 16px;
        font-weight: bold;
        margin-top: 0px;
        color: rgb(50, 50, 50);
        text-align: center;
      }

      @media (min-width: 968px) {
        .styles_sticky-container__mobile {
            position: fixed;
            z-index: z(fixed-header);
            bottom: 0;
            left: 0;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s,-webkit-transform .3s;
            background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
        }
        
        .styles_sticky-container__mobile.styles_hidden {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
        
        .styles_floating-button__mobile {
            display: -ms-flexbox;
            display: flex;
            max-width: 360px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 16px;
            margin: 16px;
            border-radius: 16px;
            color: var(--white);
            text-decoration: none;
        }
        
        .styles_texts-wrapper__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    
   /* Base styles */

   /* Mobile-only sticky button */
@media (max-width: 767px) {
    .sticky-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
      padding: 10px 20px;
      border-radius: 20px;
      width: 350px;
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99999;
    }
    
    .text-wrapper-sticky {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
    }
    
    .text-heading-4 {
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
    }
    
    .text-regular {
      font-size: 16px;
      color: #FFFFFF;
    }
    
    .signup-button1 {
      background-color: white;
      border-radius: 30px;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .sticky-container.desktop-only {
      display: none;
    }
  }
  
  /* Desktop sticky button */
  @media (min-width: 768px) {
    .sticky-container.desktop-only {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(111deg, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(51, 146, 255)) 0%, var(--token-66dfdba2-b084-43a3-a18d-237c2893b6a7, rgb(51, 197, 197)) 100%) !important;
      padding: 10px 20px;
      border-radius: 20px;
      width: 350px;
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99999;
    }
    
    .text-wrapper-sticky.desktop-only {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
    }
    
    .text-heading-4.desktop-only {
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
    }
    
    .text-regular.desktop-only {
      font-size: 16px;
      color: #FFFFFF;
    }
    
    .signup-button1.desktop-only {
      background-color: white;
      border-radius: 30px;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .sticky-container {
      display: none;
    }
  }
  
  
  
  
  
  
  